{% extends "base.html.twig" %}

{% block title %}BarberShop - Accueil{% endblock %}

{% block body %}
    <div class="affichef">
        <div class="container accueil">
            <h1 class="left gold">Bienvenue</h1>
            <p class="left white-text">Le meilleur Barber de Paris</p>
        </div>
    </div>
    <header>
        <div class="container row">
            <section class="col l4 center">
                <p class="oxigen">Réserver votre jour et votre heure</p>
                <i class="medium gold material-icons">insert_invitation</i>
            </section>
            <section class="col l4 center">
                <p class="oxigen">Recever une confirmation !</p>
                <i class="medium gold material-icons">event_available</i>
            </section>
            <section class="col l4 center">
                <p class="oxigen">Recever la coupe du meilleur Barber de Paris</p>
                <i class="medium gold material-icons">content_cut</i>
            </section>
        </div>
    </header>

{% endblock %}

{% block javascripts %}
    <script>

    </script>

{% endblock %}