{% extends "base.html.twig" %}

{% block title %}BarberShop - Mentions Légales{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="center">Mentions Légales</h1>
    </div>

{% endblock %}