{% extends "base.html.twig" %}

{% block title %}BarberShop - Team{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="center">Vos Barbers Préférés</h1>
    </div>

{% endblock %}