{% extends "base.html.twig" %}

{% block title %}BarberShop - La Carte{% endblock %}

{% block body %}
    <div class="container margtop margbot">
        <h1 class="center greatvibes gold padtop padbot borrad">Notre carte</h1>

        <section class="row">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{ asset('medias/barber.jpg') }}">
                                <span class="card-title greatvibes gold">Dégrader</span>
                                <!--  <a class="btn-floating halfway-fab waves-effect waves-light black"><i class="material-icons">add</i></a> -->
                            </div>
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
{% endblock %}