{% extends "base.html.twig" %}

{% block title %}BarberShop - Contact{% endblock %}

{% block body %}
    <div class="container margtop">
        <h1 class="center Oxygen gold black padtop padbot borrad">Nous contacter</h1>

        <div class="row center">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum au 0123456789.</p>
        </div>
        <div class="row black white-text">
            <div class="col l5 offset-l1">
                <pre>Coordonnées
                    Le salon de coiffure

                    17 rue Passet Paris 75000 (Entrée du salon)
                     Voir sur Google Maps
                     01 23 45 67 89
                     contact@salon-coiffure.fr

                    Horaires

                    lundi	fermé
                    mardi	fermé
                    mercredi	10h à 20h
                    jeudi	10h à 20h
                    vendredi	10h à 20h
                    samedi	10h à 19h
                    dimanche	10h à 19h

                    Réseaux sociaux

                    Facebook Instagram
                 </pre>
            </div>
            <div class="col l5">
                <form class="#" action="#" method="post">
                    <div class="row">
                        <div class="input-field col m6 s12 l8">
                            <i class="mdi-content-mail prefix"></i>
                            <input id="text" type="text" class="validate white-text" required>
                            <label for="email">Nom*</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12 l8">
                            <i class="mdi-content-mail prefix"></i>
                            <input id="email" type="email" name="email" class="validate white-text" required>
                            <label for="email">Email*</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12 l8">
                            <i class="mdi-content-mail prefix"></i>
                            <input id="sujet" type="text" name="subject" class="validate white-text" required>
                            <label for="email">Sujet*</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12 l8">
                            <i class="mdi-content-mail prefix"></i>
                            <textarea name="message" rows="8" cols="80" class=" white-text materialize-textarea"></textarea>
                            <label for="email">Votre message*</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12 l8">
                            <i class="mdi-content-mail prefix"></i>
                            <input id="submit" type="submit" value="Envoyer" class="waves-effect waves-light btn" required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center">
            <div class="col l10 offset-l1">
                <h2>Lorem, une coiffeuse passionnée</h2>
                <p><span>Gérante du salon de Coiffure</span></p>
                <p><b>Diplômée en coiffure depuis XXXX, cette réelle passionnée du métier de coiffeuse exploite ses compétences avec ambitions. </b></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
