{% extends "base.html.twig" %}

{% block title %}BarberShop - Contact{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="center">Nous contacter</h1>
    </div>

{% endblock %}