{% extends "base.html.twig" %}

{% block title %}BarberShop - Contact{% endblock %}

{% block body %}
    <div class="container margtop">
        <h1 class="center greatvibes gold padtop padbot borrad">Nous contacter</h1>
    </div>

{% endblock %}