{% extends "base.html.twig" %}

{% block title %}BarberShop - Galerie{% endblock %}

{% block body %}
    <div class="container margtop margbot">
        <h1 class="center greatvibes gold padtop padbot borrad">Notre galerie photos</h1>

        <section class="row">
            <!-- InstaWidget -->
            <a href="https://instawidget.net/v/user/marcus_barber97" id="link-284ef828fa54deb9b41993b940c95efb123901e1274aaf3c8960f8e054a9c277">@marcus_barber97</a>
            <script src="https://instawidget.net/js/instawidget.js?u=284ef828fa54deb9b41993b940c95efb123901e1274aaf3c8960f8e054a9c277&width=100%"></script>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
        $('.materialboxed').materialbox();
        });
    </script>
{% endblock %}