{% extends "base.html.twig" %}

{% block title %}BarberShop - Profile{% endblock %}

{% block body %}
    <div class="container margtop">
        <h1 class="center">Profile</h1>
    </div>

{% endblock %}