{% extends "base.html.twig" %}

{% block title %}BarberShop - Team{% endblock %}

{% block body %}
    <div class="container margtop">
        <h1 class="center greatvibes gold padtop padbot borrad">Vos Barbers Préférés</h1>
    </div>

    <section class="container">
        <div class="col s12 m7">
            <h2 class="header greatvibes">Marcus</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ asset('medias/marcus.png')}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Coiffeur pationné, je saurai vous faire la  coupe que vous révez.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}